.container
  .row(align="center")
    .col-md-4
      h2 Ninknaming
      p Choose a monster and be have a new rol to play in your team.
    .col-md-4
      h2 Colaboration
      p Always knows where are your partners.
    .col-md-4
      h2 Fellowship
      p Be in touch with your team.
